<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{! The Tailwind CLI didn't work so I switch to CDN instead }}
    {{! <link rel='stylesheet' href='/css/output.css' /> }}
    <script src='https://cdn.tailwindcss.com'></script>
    <title>{{pageTitle}}</title>
  </head>
  <body>

    <main>
      {{{body}}}
    </main>

  </body>

  <footer class="text-center text-gray-600 my-6">
  <small>© SMH 2026 Simple Registration. <i>All rights reserved.</i></small>
</footer>
</html>