<div class='min-h-[80vh] flex items-center justify-center'>
  <div class='text-center'>
    <h1 class='font-serif text-5xl mb-4'>Welcome to the Simple Registration
      Platform</h1>
    <p class='text-stone-500 text-xl mb-8'>Are you a student looking to advance
      your careers?<br />
      Look no further! Join us today!</p>
    <button
      class='bg-stone-800 text-white px-6 py-3 rounded-lg hover:bg-stone-700'
    >
      <a href='/register' class='text-white no-underline'>Get Started →</a>
    </button>
  </div>
</div>